.header-container {
	height: 58px;
	border-bottom: 1px solid #f0f0f0;
	position: relative;
	z-index: 1;
	.header-left {
		position: absolute;
		top: 0;
		left: 0;
		width: 100px;
		height: 56px;
		background: url(../../statics/logo.png);
		background-size: contain;
	}
	.header-center {
		width: 960px;
		height: 100%;
		margin: 0 auto;
		padding-right: 70px;
		box-sizing: border-box;
		.navItem {
			line-height: 56px;
			padding: 0 15px;
			font-size: 17px;
			color: #333;
			&.left {
				float: left;
			}
			&.right {
				float: right;
				color: #969696;
			}
			&.active {
				color: #ea6f5a;
			}
		}
		.searchWrapper {
			float: left;
			position: relative;
			.zoom {
				position: absolute;
				right: 5px;
				bottom: 5px;
				width: 30px;
				line-height: 30px;
				text-align: center;
				border-radius: 15px;
				&.focused {
					background: #777;
					color: #fff;
				}
			}
			input {
				width: 160px;
				height: 38px;
				border: none;
				outline: none;
				border-radius: 19px;
				margin-top: 9px;
				margin-left: 20px;
				padding: 0 30px 0 20px;
				box-sizing: border-box;
				background: #eee;
				font-size: 14px;
				color: #666;
				&::placeholder {
					color: #999;
				}
				&.focused {
					width: 240px;
				}
				&.slide-enter {
					transition: all .3s ease-out;
				}
				&.slide-enter-active {
					width: 240px;
				}
				&.slide-exit {
					transition: all .3s ease-out;
				}
				&.slide-exit-active {
					width: 160px;
				}
			}
			.searchInfo {
				position: absolute;
				left: 0;
				top: 56px;
				width: 240px;
				padding: 0 20px;
				box-shadow: 0 0 8px rgba(0,0,0,.2);
				background: #fff;
				.searchInfoTitle {
					margin-top: 20px;
					margin-bottom: 15px;
					line-height: 20px;
					font-size: 14px;
					color: #969696;
				}
				.searchInfoSwitch {
					float: right;
					font-size: 13px;
					cursor: pointer;
					.spin {
						display: block;
						float: left;
						font-size: 12px;
						margin-right: 2px;
						transition: all .2s ease-in;
						transform-origin: center center;
					}
				}
				.searchInfoList {
					overflow: hidden;
					.searchInfoItem {
						font-size: 12px;
						padding: 0 5px;
						line-height: 20px;
						border: 1px solid #ddd;
						color: #787878;
						border-radius: 3px;
						display: block;
						float: left;
						margin-right: 10px;
						margin-bottom: 15px;
					}
				}
			}
		}
	}
	.header-right {
		.register {
			position: absolute;
			top: 0;
			right: 150px;
			line-height: 38px;
			border-radius: 19px;
			margin-top: 9px;
			border: 1px solid #ec6149;
			margin-right: 20px;
			padding: 0 20px;
			font-size: 14px;
			color: #ec6149;
		}
		.writeArticle {
			position: absolute;
			top: 0;
			right: 30px;
			line-height: 38px;
			border-radius: 19px;
			margin-top: 9px;
			border: 1px solid #ec6149;
			margin-right: 20px;
			padding: 0 20px;
			font-size: 14px;
			color: #fff;
			background: #ec6149;
		}
	}
}
